Repository gierens/rft, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependency, ci, rust

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

rust:
- changed-files:
  - any-glob-to-any-file: src/**/*

refactor(wire): revise ChecksumFrame
  src/wire.rs
Labels: rust

refactor(wire): revise WriteFrame
  src/wire.rs
Labels: rust

refactor(wire): revise ReadFrame
  src/wire.rs
Labels: rust

feat(wire): add Assemble trait and implement for Packet and Frames
  src/wire.rs
Labels: rust

refactor(client): revise Packet creation
  src/client.rs
Labels: rust

refactor(wire): revise Frame to enum
  src/wire.rs
Labels: rust

fix(wire): correct split_to size_of arguments from Frame to Header
  src/wire.rs
Labels: rust

style(wire): move dead_code to mod wire in main
  src/main.rs
  src/wire.rs
Labels: rust

fix(wire): correct type_id typos
  src/wire.rs
Labels: rust

refactor(wire): revise Parse implementations
  src/wire.rs
Labels: rust

refactor(wire): revise From implementations for Frame
  src/wire.rs
Labels: rust

refactor(wire): replace Packet::create by Packet::new
  src/wire.rs
Labels: rust

refactor(wire): revise six_u8_to_u64/u64_to_six_u8 to little endian
  src/wire.rs
Labels: rust

test(wire): revise tests after refactor
  src/wire.rs
Labels: rust

fix(wire): correct type_id typo
  src/wire.rs
Labels: rust

fix(wire): fix payload length in Assemble implementations
  src/wire.rs
Labels: rust

refactor(wire): remove DataHeader.length, handled via Bytes.len()
  src/wire.rs
Labels: rust

refactor(conn_h): revise for new wire module
  src/conn_h.rs
Labels: rust

test(conn_h): adjust tests for new wire module
  src/conn_h.rs
Labels: rust

chore(src): reapply rustfmt
  src/client.rs
  src/conn_h.rs
  src/wire.rs
Labels: rust

style(conn_h): address clippy issues
  src/conn_h.rs
Labels: rust

fix(wire): add missing path field in Debug of ReadFrame
  src/wire.rs
Labels: rust

docs(wire): add todo comment regarding getters to Packet impl
  src/wire.rs
Labels: rust

feat(wire): add Frame.stream_id function
  src/wire.rs
Labels: rust

feat(cargo): add cargo-husky running all checks on prepush
  Cargo.lock
  Cargo.toml
Labels: dependency

feat(conn_h): retry read after packet or ACK loss
  src/conn_h.rs
Labels: rust

feat(conn_h): actually limit read to specified length
  src/conn_h.rs
Labels: rust

feat(conn_h): add handling for EOF frame loss in read handling
  src/conn_h.rs
Labels: rust

test(wire): add integration test data
  src/wire.rs
  tests/data/ack_data_packet.bin
  tests/data/ack_packet.bin
Labels: rust

test(integration): add integration test for packet parsing
  src/lib.rs
  tests/integration_tests.rs
Labels: tests, rust

style(src): format
  src/lib.rs
  src/wire.rs
Labels: rust

feat(wire - ExitFrame): add Default impl
  src/wire.rs
Labels: rust

refactor(loss_simulation): rename next to is_next bc of clippy confusion
  src/loss_simulation.rs
Labels: rust

refactor(assets): move .drawio and outputs to assets
  assets/rft-example.png
  assets/rft-overview.pdf
  assets/rft-overview.png
  assets/rft-overview.svg
  assets/rft.drawio
Labels: none

feat(server): start implementing server connection handling (outline)
  Cargo.toml
  src/conn_h.rs
  src/main.rs
  src/server.rs
Labels: dependency, rust

chore(src): fix clippy issues
  src/main.rs
  src/server.rs
Labels: rust

chore(src): fix clippy issues downstream from fixing clippy issues
  src/server.rs
Labels: rust

chore(server): update descriptive comment
  src/server.rs
Labels: rust

refactor(main): better error handling
  src/main.rs
Labels: rust

style(main): fmt
  src/client.rs
  src/main.rs
Labels: rust
