Repository gierens/rft, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependency, ci, rust

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

rust:
- changed-files:
  - any-glob-to-any-file: src/**/*

feat(ci): add workflow for conventional commits
  .github/workflows/commits.yml
Labels: ci

feat(ci): add audit workflow
  .github/workflows/audit.yml
Labels: ci

feat(ci): add label workflow
  .github/workflows/label.yml
Labels: ci

feat(ci): add linting workflow with rustfmt and clippy jobs
  .github/workflows/linting.yml
Labels: ci

feat(ci): add stale workflow
  .github/workflows/stale.yml
Labels: ci

feat(ci): add testing workflow with test and coverage jobs
  .github/workflows/testing.yml
Labels: ci

fix(wire): add missing frames in Frame::header match
  src/wire.rs
Labels: rust

chore(cargo): cleanup Cargo.toml, remove patch numbers
  Cargo.toml
Labels: dependency

feat(wire): add PacketHeader.checksum function that converts to u32
  src/wire.rs
Labels: rust

feat(wire): add Packet::validate_checksum and use in Packet::parse
  src/wire.rs
Labels: rust

refactor(main): cleanup example code again
  src/main.rs
Labels: rust

fix(main): correct packet checksum
  src/main.rs
Labels: rust

style(main): reorder modules to make rustfmt happy
  src/main.rs
Labels: rust

docs(wire): add todo comment regarding error handling
  src/wire.rs
Labels: rust

feat(wire): correct offset/length fields and add convenience getters
  src/wire.rs
Labels: rust

refactor(conn_h): use header.length/offset getters
  src/conn_h.rs
Labels: rust

refactor(wire): change offset/length fields to [u8; 6] and adjust getters
  src/wire.rs
Labels: rust

feat(wire): add checksum generation to Packet::assemble
  src/wire.rs
Labels: rust

docs(main): remove todo comment regarding crc32 validation/generation
  src/main.rs
Labels: rust

test(wire): correct crc checksum in assemble_empty_packet
  src/wire.rs
Labels: rust

test(wire): move example code from main to assemble_and_parse_packet
  src/main.rs
  src/wire.rs
Labels: rust

finish implementing write handling in connection_handler
  Cargo.toml
  src/conn_h.rs
Labels: dependency, rust

feat(main): start client or server depending on arguments
  src/main.rs
Labels: rust

feat(client): add minimal client module
  src/client.rs
Labels: rust

feat(server): add minimal server module
  src/server.rs
Labels: rust

ACK EOF frame in write handling
  src/conn_h.rs
Labels: rust

fix(wire): remove duplicate imports
  src/wire.rs
Labels: rust

feat(cargo): add rand dependency
  Cargo.lock
  Cargo.toml
Labels: dependency

fix(ci): remove non-existent features from clippy job
  .github/workflows/linting.yml
Labels: ci

feat(loss_simulation): add loss_simulation module with Markov LossSimulation
  src/loss_simulation.rs
  src/main.rs
Labels: rust

feat(loss_simulation): add LossSimulation::from_options
  src/loss_simulation.rs
Labels: rust

feat(server): add Server.loss_sim variable
  src/server.rs
Labels: rust

feat(client): add Client.loss_sim variable
  src/client.rs
Labels: rust

feat(main): create LossSimulation from arguments and hand to Client/Server
  src/main.rs
Labels: rust

test(wire): more basic tests
  src/wire.rs
Labels: rust

test(wire): validate checksum
  src/wire.rs
Labels: rust

style(conn_h): format
  src/conn_h.rs
Labels: rust

style(client): address clippy issues
  src/client.rs
Labels: rust

style(server): address clippy issues
  src/server.rs
Labels: rust

style(wire): address clippy issues
  src/wire.rs
Labels: rust
