Repository gierens/rft, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependency, ci, rust

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

rust:
- changed-files:
  - any-glob-to-any-file: src/**/*

chore(conn_h): fix clippy complaints
  src/conn_handler.rs
Labels: rust

feat(conn_h): send flow frame at connection open
  src/conn_handler.rs
  src/server.rs
Labels: rust

feat(server): drop packets if connection handlers input buffer is full, increase buffer size
  src/server.rs
Labels: rust

Âfeat(server): increase UDP socket receive buffer size
  src/server.rs
Labels: rust

refactor(client): make it better
  src/client.rs
Labels: rust

chore(client): make stupid clippy happy
  src/client.rs
Labels: rust

chore(client): fmt
  src/client.rs
Labels: rust

chore(client): add TODOs
  src/client.rs
Labels: rust

feat(client): send WriteFrames to client and ReadFrames to server to start transfer
  src/client.rs
Labels: rust

feat(server): banner
  src/server.rs
Labels: rust

fix(client): fix UDPSocket addr
  src/client.rs
Labels: rust

fix(client): tokio runtime and increment packet_id
  src/client.rs
  src/main.rs
Labels: rust

chore(client): cargo fmt
  src/client.rs
Labels: rust

feat(server): enforce receive order, send double ACKs
  src/conn_handler.rs
Labels: rust

feat(server): add forgotten continue in double ACKing
  src/conn_handler.rs
Labels: rust

chore(logging): more looooging
  src/conn_handler.rs
  src/server.rs
  src/stream_handler.rs
Labels: rust

chore(fmt): fmt
  src/conn_handler.rs
  src/server.rs
  src/stream_handler.rs
Labels: rust

feat(logging): set up logging
  Cargo.lock
  Cargo.toml
  data-dir/File1.txt
  src/client.rs
  src/main.rs
Labels: dependency, rust

feat(server): add more logging
  src/conn_handler.rs
Labels: rust

feat(server): fix bug in packet assembly
  src/conn_handler.rs
Labels: rust

feat(conn_h): fix retransmit spamming bug
  src/conn_handler.rs
Labels: rust

feat(server): fix packet discarding bug
  src/server.rs
Labels: rust

feat(server): fix dispatcher bug
  src/server.rs
Labels: rust

feat(stream_h): exit from read command when input channel closed, more logging
  src/conn_handler.rs
  src/stream_handler.rs
Labels: rust

feat(conn_h): fix ACKing bug
  src/conn_handler.rs
Labels: rust

chore(testing): remove data-dir from git
  data-dir/File1.txt
Labels: none

chore(data-dir): don't track contents of data-dir
  .gitignore
Labels: none

chore(debug): log sent packets
  src/client.rs
  src/conn_handler.rs
Labels: rust

fix(client): bug fix, client waits for all transmissions to be completed until termination
  src/client.rs
Labels: rust

feat(conn_h): do not send ACK for packet containing only one ACK
  src/conn_handler.rs
Labels: rust

feat(wire): add is_ack/ack functions for all frame types to Frame
  src/wire.rs
Labels: rust

feat(server): wrap Packet::parse and assemble in spawn_blocking
  src/server.rs
Labels: rust

feat(server): replace packet.clone() by &packet on debug output
  src/server.rs
Labels: rust

feat(client): wrap Packet::assemble in spawn_blocking
  src/client.rs
Labels: rust

refactor(client): send read command through assembler_sink
  src/client.rs
Labels: rust

feat(client): merge connect and start method and use async UdpSocket
  src/client.rs
Labels: rust

refactor(main): revise for new client methods
  src/main.rs
Labels: rust

fix(client): make assembler_sink mut as well
  src/client.rs
Labels: rust

feat(client): wrap Packet.assemble in assember task in spawn_blocking
  src/client.rs
Labels: rust

fix(client): add missing await on conn.recv in receive loop
  src/client.rs
Labels: rust
