Repository gierens/rft, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, dependency, ci, rust

.github/labeler.yml:

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

rust:
- changed-files:
  - any-glob-to-any-file: src/**/*

chore(client): actuall push your stuff
  src/client.rs
  src/main.rs
Labels: rust

refactor(client): rework client with config and error handling
  src/client.rs
  src/loss_simulation.rs
  src/main.rs
Labels: rust

chore(src): rename conn_h.rs to stream_handler.rs
  src/lib.rs
  src/main.rs
  src/server.rs
  src/stream_handler.rs
Labels: rust

chore(src): reapply fmt
  src/lib.rs
  src/server.rs
Labels: rust

chore(src): reapply fmt some more
  src/main.rs
Labels: rust

chore(src): move connection handling code to separate file
  src/conn_handler.rs
  src/main.rs
  src/server.rs
Labels: rust

chore(src): reapply fmt
  src/conn_handler.rs
Labels: rust

chore(src): address clippy stuff
  src/conn_handler.rs
Labels: rust

chore(src): reapply fmt again
  src/main.rs
Labels: rust

feat(conn_handler): add draft packet assembly, add some TODOs
  src/conn_handler.rs
Labels: rust

feat(conn_h): implement CID change
  src/conn_handler.rs
Labels: rust

feat(stream_h): update stream handler to new, fixed protocol version
  src/stream_handler.rs
Labels: rust

chore(main): abort on empty files for client
  src/main.rs
Labels: rust

feat(wire): update for new protocol with packet ids instead of frame ids
  src/wire.rs
Labels: rust

test(wire): update unit tests for new wire module
  src/wire.rs
Labels: rust

feat(wire): add helper functions to directly access Packet header fields
  src/wire.rs
Labels: rust

refactor(stream_handler): revise for new wire module
  src/stream_handler.rs
Labels: rust

test(stream_handler): revise unit tests for new wire module
  src/stream_handler.rs
Labels: rust

refactor(conn_handler): revise for new wire module
  src/conn_handler.rs
Labels: rust

test(integration_tests): revise for new wire module
  tests/data/ack_data_packet.bin
  tests/data/ack_packet.bin
  tests/integration_tests.rs
Labels: tests

style(stream_handler): reapply rustfmt
  src/stream_handler.rs
Labels: rust

wip(client): wip
  src/client.rs
Labels: rust

wip(client): structure
  src/client.rs
Labels: rust

refactor(client): clippy
  src/client.rs
  src/main.rs
Labels: rust

aaahh(client): aaahh
  src/client.rs
Labels: rust

feat(wire): derive clone for packet and frames
  src/wire.rs
Labels: rust

feat(conn_handler): implement basic ACK handling architecture
  src/conn_handler.rs
Labels: rust

chore(conn_h): fix clippy complaints
  src/conn_handler.rs
Labels: rust

feat(conn_h): implement rewinding (retransmission)
  src/conn_handler.rs
Labels: rust

feat(conn_h): fix rewinding bug
  src/conn_handler.rs
Labels: rust

feat(wire): add Size trait and impls for all frames and packet
  src/wire.rs
Labels: rust

feat(conn_h): implement congestion avoidance (Reno) and fix a few bugs
  src/conn_handler.rs
Labels: rust

chore(conn_h): fix clippy stuff
  src/conn_handler.rs
Labels: rust

chore(server): add a few TODOs and switch to tokio socket
  Cargo.lock
  Cargo.toml
  src/server.rs
Labels: dependency, rust

feat(conn_h): implement ACKing and packet assembly timeouts
  src/conn_handler.rs
Labels: rust

chore(conn_h): fix clippy issue
  src/conn_handler.rs
Labels: rust

feat(server): implement packet switch
  src/conn_handler.rs
  src/lib.rs
  src/server.rs
Labels: rust

feat(server): implement packet dispatcher
  src/server.rs
Labels: rust

chore(server): fix clippy complaints
  src/server.rs
Labels: rust

feat(conn_h): measure window sizes by bytes instead of number of packets
  src/conn_handler.rs
Labels: rust
